@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600;700&family=Tiro+Kannada&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tiro+Kannada"; 
}